<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description">The Annual Meeting of the International Society for Data Science and Analytics (ISDSA) aims to provide a global forum from researchers and practitioners in the field of data science and data analytics to communicate and showcase their latest research. The ISDSA Meeting is for anyone interested in data science and data analytics. Researchers, practitioners, educators, and users come together at the ISDSA Meeting to present new and ongoing work and to discuss future directions for data science and data analytics.</p>

<p>Because of the ongoing pandemic, the 2021 Annual Meeting of ISDSA will be held online on June 5, 2021. We will invite eight speakers to share their research this year. Each speaker will give an hour long address on their past or ongoing research.</p>

<p>There will also be a pre-conference workshop on statistical power analysis by Prof. Johnny Zhang from the University of Notre Dame.</p>

<p>Please feel free to share the meeting posters here: <a href="/img/ISDSA2021.pdf">PDF poster</a> | <a href="/img/ISDSA2021.jpg">JPG poster</a>.</p>