<h2 class="section-title">{{ .info.faq }}
</h2>

<p>The list is being updated.</p>

<p>
 - <b>Does the meeting accept paper submission?</b>
  <br />
  No. ISDSA 2021 limits to the invited speakers. We welcome you to submit your papers to our meeting in 2022.
</p>

<p>
 - <b>How much does it cost to attend the meeting?</b>
  <br />
  Attending the meeting is free. However, we ask you to register to receive information about the meeting.
</p>

<p>
 - <b>How do I know my registration is successful?</b>
  <br />
  If your registration is successful, you will receive the information "Thank you for your registration!" in your web browser. 
  <br />
  If you pay for the workshop registration, you will also receive an email with your receipt.
</p>

<p>
 - <b>How to register for the workshop for free?</b>
  <br />
  Given the pandemic, we understand you might not have funds to support yourself to attend the workshop. Therefore, we provide the free option. You can simply register for the meeting with a comment to state that you plan to attend the workshop.
</p>

<p>
 - <b>When to receive the virtual meeting information for the meeting and workshop?</b>
  <br />
  You should receive the Zoom meeting information by May 20, 2021, in your email.
</p>

<p>
 - <b>Any idea about the meeting in 2022?</b>
  <br />
  For now, we plan to hold an in-person meeting in China, mostly like in June 2022. To receive the information on the meeting, please <a href="https://isdsa.org/lists/?p=subscribe&id=1">subscribe to our mailing list</a>. You can also bookmark this website to come back for information.
</p>

<p>&nbsp;</p>
