<h2 class="section-title">{{ .info.workshop }}</h2>

<p>A pre-conference workshop (through Zoom) on statistical power analysis will be taught by <a href="https://bigdatalab.nd.edu">Prof. Johnny Zhang</a> from the University of Notre Dame. Prof. Zhang is the PI of the IES funded project to develop methods and software for statistical power analysis.</p>


<ul class="speakers-list">
  <li class="speakers-item" itemprop="performer" itemscope itemtype="http://schema.org/Person">
      <span class="speaker-photo">
        <img class="photo" src="/img/jzhang.jpg" alt="Johnny Zhang" itemprop="image">
      </span>

    <h3 class="speech-title">
	  <a href="https://bigdatalab.nd.edu" target="_blank" title="Johnny Zhang">Johnny Zhang</a> --  University of Notre Dame
    </h3>
    
    <p class="speakers-bio">
	Dr. Johnny Zhang is a Professor in Quantitaitve Psychology at the University of Notre Dame. His research aims to develop better statistical methods and software in the areas of education, health, management and psychology. He has conducted research in the areas of  Bayesian methods, Big data analysis, Structural equation modeling, Longitudinal data analysis, Mediation analysis, and Statistical computing and programming. His most recent research involves the development of new methods for social network and text analysis. 
	</p>
  </li>
</ul>

<p itemprop="description">This  workshop teaches researchers how to conduct a statistical power analysis to determine the sample size for a planned study. Participants will learn statistical power analysis for t-test, one-way, and two-way ANOVA, linear regression, mediation analysis, and structural equation modeling. Free software WebPower (<a href="https://webpower.psychstat.org">https://webpower.psychstat.org</a>) will be used to illustrate how to conduct power analysis in practice.</p>

<p><b>Time: 8:30AM-12:00PM (US Eastern Time) June 4, 2021 <br />
Location: Zoom (link will be sent to your registration email)</b></p>

<h3>Workshop registration</h3>

<p>The registration fee ranges from free to $99. All revenue from the workshop will be used for the operation of the meeting and ISDSA. You will be registered for the ISDSA meeting automatically along with your workshop registration.</p>

<p>Undergraduate and graduate students: $49
<br />Non-students (e.g., faculty and staff): $99
<br />If you need financial support, simply name your price anywhere between $1 and $99.
<br />For free registration, please register for the meeting and mention you want to attend the workshop.</p>

<h4>Refund Policy</h4>
<p>For any reason that prevents you from attending the workshop, you can request for a refund by contacting us. The refund amount depends on the time you make the request.
<br />Before May 1: Refund full registration fee minus 5% of processing fee (charged by the third-party)
<br />After May 1: before June 1: Refund 80% of full registration fee.
<br />After June 1: no refund.</p>

<p>To register, please select the registration fee and click "Pay now". </p>
<div class='container'>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="GLJBUX55CETHW">
<table>
<tr><td><input type="hidden" name="on0" value="Workshop registration">Workshop registration</td></tr><tr><td><select name="os0">
	<option value="Regular">Regular $99.00 USD</option>
	<option value="Student">Student $49.00 USD</option>
	<option value="Other 1">Other 1 $1.00 USD</option>
	<option value="Other 2">Other 2 $5.00 USD</option>
	<option value="Other 3">Other 3 $10.00 USD</option>
	<option value="Other 4">Other 4 $20.00 USD</option>
	<option value="Other 5">Other 5 $30.00 USD</option>
	<option value="Other 6">Other 6 $40.00 USD</option>
	<option value="Other 7">Other 7 $60.00 USD</option>
	<option value="Other 8">Other 8 $70.00 USD</option>
</select> </td></tr>
<tr><td><input type="hidden" name="on1" value="Your name">Your name(Required)</td></tr><tr><td><input type="text" name="os1" maxlength="300" required></td></tr><tr><td><input type="hidden" name="on2" value="Your email">Your email address (Required)</td></tr><tr><td><input type="text" name="os2" maxlength="300" required></td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</div>

